<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testclass.UnitIntegrationTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateAlltheLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateLoginUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateCreateUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateLoginUserPerformActions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateContactUsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateTheHomePageShopEasy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TS_ValidateLogoutUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeEachMehtod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>mandatoryAfterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterclass</td>
<td>&nbsp;</td></tr>
</table>
