<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71a660">  <td>20/09/20 00:21:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.setup()[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:21:48</td>   <td>6571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:21:48</td>   <td>6620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateTheHomePageShopEasy()[pri:1, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateTheHomePageShopEasy</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:26:03</td>   <td>261848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:26:03</td>   <td>261851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:26:03</td>   <td>261853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateAlltheLinks()[pri:2, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateAlltheLinks</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:23</td>   <td>341248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:23</td>   <td>341250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:23</td>   <td>341252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateCreateUser()[pri:3, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateCreateUser</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:42</td>   <td>360828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:42</td>   <td>360830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:27:42</td>   <td>360832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLoginUser()[pri:4, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateLoginUser</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:29:32</td>   <td>470730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:29:32</td>   <td>470732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:29:32</td>   <td>470737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLoginUserPerformActions()[pri:5, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateLoginUserPerformActions</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:31:41</td>   <td>599446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:31:41</td>   <td>599447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:31:41</td>   <td>599452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLogoutUser()[pri:6, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateLogoutUser</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:32:22</td>   <td>640325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:32:22</td>   <td>640327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:32:22</td>   <td>640328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateContactUsPage()[pri:7, instance:com.testclass.UnitIntegrationTests@17d919b6]">TS_ValidateContactUsPage</td> 
  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:32:47</td>   <td>665579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
<tr bgcolor="71a660">  <td>20/09/20 00:32:47</td>   <td>665580</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.afterclass()[pri:0, instance:com.testclass.UnitIntegrationTests@17d919b6]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1414967210</td>   <td></td> </tr>
</table>
