<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.setup()[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:18</td>   <td>7653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:18</td>   <td>7703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateTheHomePageShopEasy()[pri:1, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateTheHomePageShopEasy</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:28</td>   <td>17784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:28</td>   <td>17788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:28</td>   <td>17791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateAlltheLinks()[pri:2, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateAlltheLinks</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:58</td>   <td>48408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:58</td>   <td>48408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:35:58</td>   <td>48410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateCreateUser()[pri:3, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateCreateUser</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:18</td>   <td>68250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:18</td>   <td>68251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:18</td>   <td>68253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLoginUser()[pri:4, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateLoginUser</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:35</td>   <td>85353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:35</td>   <td>85354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:35</td>   <td>85357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLoginUserPerformActions()[pri:5, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateLoginUserPerformActions</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:41</td>   <td>91444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:41</td>   <td>91445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:41</td>   <td>91446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateLogoutUser()[pri:6, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateLogoutUser</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:46</td>   <td>95646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:46</td>   <td>95646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UnitIntegrationTests.BeforeEachMehtod(java.lang.reflect.Method)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&gt;&gt;BeforeEachMehtod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:36:46</td>   <td>95647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UnitIntegrationTests.TS_ValidateContactUsPage()[pri:7, instance:com.testclass.UnitIntegrationTests@3b0090a4]">TS_ValidateContactUsPage</td> 
  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:37:03</td>   <td>112643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.mandatoryAfterMethod(org.testng.ITestResult)[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;mandatoryAfterMethod</td> 
<td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
<tr bgcolor="b67faa">  <td>20/09/20 00:37:03</td>   <td>112645</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UnitIntegrationTests.afterclass()[pri:0, instance:com.testclass.UnitIntegrationTests@3b0090a4]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515715487</td>   <td></td> </tr>
</table>
